<template>

  <div class="row ">

    <md-card repeat.for="survey of surveys"  class="col s12 m6 l3" md-title="${survey.evaluated}" md-reveal="true">
      <div>
        ${survey.questionnaire.questionnaireType}
      </div>
      <div slot="reveal-text">
        <label>Disponivel do ${survey.questionnaire.creationDate} ate ${survey.questionnaire.endDate}</label>
        <button class="right primary" md-button  click.delegate="goToSurvey(survey.questionnaire._id)" >Start</button>
      </div>
    </md-card>

  </div>

</template>
