<template>

  <div>
    <md-datepicker container="body" value.bind="selectedDate" label="Birthday" md-on-select.call="console.log($event)"></md-datepicker>
  </div>
  <h5>New evaluation</h5>

  <div class="row">
    <button if.bind="isManualCreation && showWizard" class="right col l3" md-button="large: true;" click.delegate="saveSurvey()" ><i class="left material-icons">save</i>Save survey</button>
  </div>
  <div if.bind="!isManualCreation" class="button-row">
    <button md-button="large: true;" click.delegate="switchToManually()" ><i class="left material-icons">mode_edit</i>Create manually</button>
  </div>

  <div if.bind="isManualCreation">

    <div>

      <select md-select="label: Select survey type" value.two-way="type" if.bind="showWizard" md-disabled="!showWizard">
        <option value="" disabled selected>select evaluation type</option>
        <option value="docente">Docente</option>
        <option value="coordenador" disabled>Coordenador</option>
        <option value="infraestrutura" disabled>Infraestrutura</option>
      </select>


      <select  md-select="label: Select teacher" value.two-way="evaluated" md-disabled="!showWizard" >
        <option value="" disabled selected>select teacher</option>
        <option value="ROBERTA BEATRIZ ARAGON BENTO">ROBERTA BEATRIZ ARAGON BENTO</option>
        <option value="NILTON STRINGASCI MOREIRA">NILTON STRINGASCI MOREIRA</option>
        <option value="RUY TSUTOMU NISHIMURA">RUY TSUTOMU NISHIMURA</option>
      </select>

      <div ref="dpWrapper">
        <input md-datepicker="container.bind: dpWrapper; value.two-way: dateInit;" type="date" placeholder="Start from" />
        <input md-datepicker="container.bind: dpWrapper; value.two-way: dateEnd;" type="date" placeholder="Available until" />
      </div>

      <!--Show Survey-->
      <md-card if.bind="questions.length > 0">

        <div>
          <div repeat.for="question of questions">
            <h6>${question.text}</h6>
            <input if.bind="question.questionType === 'text'" >

            <div  if.bind="question.questionType === 'checkbox'" >
              <div  repeat.for="option of question.options">
                <md-checkbox md-gap="true" md-name="myGapOption" md-value="option" >${option}</md-checkbox>
              </div>
            </div>

            <div  if.bind="question.questionType === 'radio'" >
              <div  repeat.for="option of question.options">
                <md-radio md-gap="true" md-name="myGapOption" md-value="option" >${option}</md-radio>
              </div>
            </div>
          </div>
        </div>

      </md-card>

      <md-input md-label="Insert question" md-value.bind="textQuestion"  if.bind="showWizard" ></md-input>

      <p style="font-weight: bold;"  if.bind="showWizard" >Answer type</p>
      <p  if.bind="showWizard" >
        <md-radio md-gap="true" md-name="myGapOption" md-value="text" md-checked.bind="answerType" change.delegate="markAnswerType()">Text</md-radio>
        <md-radio md-gap="true" md-name="myGapOption" md-value="radio" md-checked.bind="answerType" change.delegate="markAnswerType()">One choice</md-radio>
        <md-radio md-gap="true" md-name="myGapOption" md-value="checkbox" md-checked.bind="answerType" change.delegate="markAnswerType()">Multiple choice</md-radio>
      </p>


      <div  if.bind="showRadioOptions">

        <div  repeat.for="option of answerOptions">
          <md-radio md-gap="true" md-name="myGapOption" md-value="option" >${option}</md-radio>
        </div>

      </div>

      <div  if.bind="showCheckboxOptions" >

        <div  repeat.for="option of answerOptions" if.bind="showCheckboxOptions">
          <md-checkbox md-gap="true" md-name="myGapOption" md-value="option" >${option}</md-checkbox>
        </div>

      </div>

      <div if.bind="showInputOptionText">
        <md-input md-label="Type option" md-value.bind="currentAnswerOption">
          <i md-prefix class="small material-icons" click.delegate="addAnswerOption()">add_circle_outline</i>
        </md-input>
      </div>

      <div class="row">
        <button  if.bind="showWizard"  class="right col s12 m6 l2" md-button="large: true;" click.delegate="addQuestion()" ><i class="left material-icons">check</i>Add question</button>
        <button  style="background-color: #e57373" class="right col s12 m6 l2" md-button="large: true;" click.delegate="returnToMainOptions()"><i class="left material-icons" >cancel</i>${cancelBackLabel}</button>
      </div>

    </div>
  </div>

  <div if.bind="!isManualCreation" >
    <md-file md-caption="upload file" view-model.ref="fileInput" md-label-value.bind="labelValue"></md-file>

    <div if.bind="selectedFile">
      selected file: ${selectedFile.name} (${selectedFile.size} bytes)
    </div>
  </div>


</template>
