<template>

  <div class="login-container">
    <md-card horizontal="true" md-image="https://www.pilotopolicial.com.br/wp-content/uploads/2013/10/expoar2013.jpg" >
      <div>
        Please, provide your user credentialsn to access

        <md-input md-label="User" md-value.bind="username" ></md-input>
        <md-input md-type="Password" md-value.bind="password" md-label="Password" ></md-input>

        <button class="right primary" md-button click.delegate="login()" >Login</button>

      </div>
    </md-card>
  </div>


</template>
