<template>
  <require from="materialize-css/dist/css/materialize.css"></require>
  <require from="app.css"></require>
  <md-colors md-primary-color="#009688" md-accent-color="#26a69a"></md-colors>
  <md-navbar>
    <div class="container">
      <a href="#/samples/navbar" class="brand-logo">
        <img src="resources/images/Anhembi-Morumbi-600x155.png" style="height: 1.8em">
      </a>
      <ul class="hide-on-med-and-down right">
        <li md-waves><a href="/#/home">Home</a></li>
        <li md-waves><a href="/#/survey">Survey</a></li>
        <li md-waves><a href="/#/login">Logout</a></li>
      </ul>
    </div>
  </md-navbar>

  <div class="container">
    <router-view></router-view>
  </div>
</template>
